table {
  text-align: left;
    border-collapse: collapse;
    font-family: fantasy;
    font-size: 28px;
    letter-spacing: 1px;
  }
  
  thead,
  tfoot {
    text-align: left;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  th,
  td {
    text-align: left;
    padding: 18px 150px;
  }
  
  th:last-of-type {
    text-align: left;
  }

  td:last-of-type {
    text-align: left;
  }
  
  tbody > tr:nth-of-type(even) {
    text-align: left;
    background-color: rgb(237 238 242);
  }
  